<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href={{ "/assets/favicon.png" | prepend: site.baseurl }} />
    <title>{% if page.title %}{{ page.title | escape_once }}{% else %}{{ site.title | escape_once }}{% endif %}</title>

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href={{ "/assets/custom_css_and_js/font.css" | prepend: site.baseurl }} />
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href={{ "/assets/Skeleton-2.0.4/css/normalize.css" | prepend: site.baseurl }} />
    <link rel="stylesheet" href={{ "/assets/Skeleton-2.0.4/css/skeleton.css" | prepend: site.baseurl }} />
    <link rel="stylesheet" href={{ "/assets/custom_css_and_js/custom.css" | prepend: site.baseurl }} />

    
    <style>
    </style>

</head>