---
layout: default
---

{% if page.title != nil %}

<h1 style="margin-top:80px;margin-bottom:5px">{{ page.title }}</h1>

<div>
    {% if page.tags != nil %}
    {% assign page_tags = page.tags | uniq | sort %}
    {% for tag in page_tags %}
    <button class="btn-tag" disabled>{{ tag }}</button>
    {% endfor %}
    {% endif %}
</div>

<p style="font-size:14px;"><span>{{ page.date | date: "%b %d (%a), %Y. %H:%M %p." }}</span> by
    <span>{{ page.author | default: "小佳" }}</span></p>

<hr style="width:50%; margin-bottom:60px" />

{% endif %}

{{ content }}

{% if page.comments %}
<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://xopowo.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
